################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

*.db
*.opendb
/playground/.vs/playground/v14
/playground/playground/Debug/playground.tlog
/playground/playground/Debug
/playground/Debug

playground/x64/Debug/

playground/playground/x64/
